#movePage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#movePage {
    margin-top: 5%;
    height: 70%;
}

.indexFollowPics{
    width: 100%;
    height: 30%;
    object-fit: cover;
}