.navbar{
    height: 80px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #122b40, #2b669a);
    box-shadow: 10px 10px #888888;
}

.navbar-brand{
    background-image: url("../img/team_logo.png");
    width: 100px;
    height: 100px;
    margin-top: 15%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.navbar-link{
    font-style: italic;
    font-size: 27px;
}

.navbar-link:hover{
    background: linear-gradient(to bottom, black, #122b40);
}
.collapse{
    margin-top: 1%;
}

#footer{
    width: 100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
}

#titleArea{
    margin-left: 25%;
    width: 50%;
    height: 18%;
}